<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end %>

<div>
  <h2>既に登録済みの方</h2>
</div>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div>
    <h5>
      <%= link_to "こちら", new_registration_path(resource_name) %> からログインしてください
    </h5>
  </div>  
<% end %>

